<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mengenal Sayuran
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="wrapper">
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="../../assets/vegetable/img/bawang-putih.png" (click)="playSound('bawang-putih')" (tap)="playSound('bawang-putih')"/>
            <ion-label>BAWANG PUTIH</ion-label>        
          </ion-col>
          <ion-col>
            <img src="../../assets/vegetable/img/cabe-merah.png" (click)="playSound('cabe-merah')" (tap)="playSound('cabe-merah')"/>
            <ion-label>CABE MERAH</ion-label>       
          </ion-col>
        </ion-row>      
        <ion-row>
          <ion-col>
            <img src="../../assets/vegetable/img/mentimun.png" (click)="playSound('mentimun')" (tap)="playSound('mentimun')"/>
            <ion-label>MENTIMMUN</ion-label>        
          </ion-col>
          <ion-col>
            <img src="../../assets/vegetable/img/paprika.png" (click)="playSound('paprika')" (tap)="playSound('paprika')"/>
            <ion-label>PAPRIKA</ion-label>       
          </ion-col>
        </ion-row>   
        <ion-row>
          <ion-col>
            <img src="../../assets/vegetable/img/tomat.png" (click)="playSound('tomat')" (tap)="playSound('tomat')"/>
            <ion-label>TOMAT</ion-label>        
          </ion-col>
          <ion-col>
            <img src="../../assets/vegetable/img/wortel.png" (click)="playSound('wortel')" (tap)="playSound('wortel')"/>
            <ion-label>WORTEL</ion-label>       
          </ion-col>
        </ion-row>     
      </ion-grid>
    </div>
</ion-content>
