<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mengenal Buah Buahan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="wrapper">
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="../../assets/fruit/img/anggur.png" (click)="playSound('anggur')" (tap)="playSound('anggur')"/>
            <ion-label>ANGGUR</ion-label>    
          </ion-col>
          <ion-col>
            <img src="../../assets/fruit/img/apel.png" (click)="playSound('apel')" (tap)="playSound('apel')"/>
            <ion-label>APEL</ion-label>   
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="../../assets/fruit/img/jeruk.png" (click)="playSound('jeruk')" (tap)="playSound('jeruk')"/>
            <ion-label>JERUK</ion-label>    
          </ion-col>
          <ion-col>
            <img src="../../assets/fruit/img/semangka.png" (click)="playSound('semangka')" (tap)="playSound('semangka')"/>
            <ion-label>SEMANGKA</ion-label>   
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="../../assets/fruit/img/stroberi.png" (click)="playSound('stroberi')" (tap)="playSound('stroberi')"/>
            <ion-label>STROBERI</ion-label>    
          </ion-col>
          <ion-col>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
</ion-content>
