ion-content{
    --ion-background-color:#00c8ff;
  }
  .wrapper{
    background-color: white; 
    opacity: 0.8; 
    margin:20px;
    padding:20px;
    border-radius: 10px;
  }
  ion-item text-wrap {
    --ion-background-color:#00c8ff;
  }

  ion-item {
    text-align: center;
  }
  .math-content{
    position: relative;
    text-align: center;
    color: white;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
  }
  ion-toolbar{
    text-align: center;
  }
  .lbl-score{
    font-size: xx-large;
    color: #8f0101;
  }
  .lbl-score-wrapper{
    text-align: center;
  }