ion-content{
    --ion-background-color:#00c8ff;
  }
  .wrapper{
    background-color: white; 
    opacity: 0.8; 
    margin:20px;
    padding:20px;
    border-radius: 10px;
  }
  ion-item text-wrap {
    --ion-background-color:#00c8ff;
  }