<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mengenal Angka
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="wrapper">
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="../../assets/number/img/1.png" (click)="playSound(1)" (tap)="playSound(1)"/>
            <ion-item text-wrap>SATU</ion-item>        
          </ion-col>
          <ion-col>
            <img src="../../assets/number/img/2.png" (click)="playSound(2)" (tap)="playSound(2)"/>
            <ion-item text-wrap>DUA</ion-item>        
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="../../assets/number/img/3.png" (click)="playSound(3)" (tap)="playSound(3)"/>
            <ion-item text-wrap>TIGA</ion-item>        
          </ion-col>
          <ion-col>
            <img src="../../assets/number/img/4.png" (click)="playSound(4)" (tap)="playSound(4)"/>
            <ion-item text-wrap>EMPAT</ion-item>        
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="../../assets/number/img/5.png" (click)="playSound(5)" (tap)="playSound(5)"/>
            <ion-item>LIMA</ion-item>        
          </ion-col>
          <ion-col>   
            <img src="../../assets/number/img/6.png" (click)="playSound(6)" (tap)="playSound(6)"/>
            <ion-item>ENAM</ion-item>     
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="../../assets/number/img/7.png" (click)="playSound(7)" (tap)="playSound(7)"/>
            <ion-item>TUJUH</ion-item>        
          </ion-col>
          <ion-col>   
            <img src="../../assets/number/img/8.png" (click)="playSound(8)" (tap)="playSound(8)"/>
            <ion-item>DELAPAN</ion-item>     
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="../../assets/number/img/9.png" (click)="playSound(9)" (tap)="playSound(9)"/>
            <ion-item>SEMBILAN</ion-item>        
          </ion-col>
          <ion-col>   
            <img src="../../assets/number/img/0.png" (click)="playSound(0)" (tap)="playSound(0)"/>
            <ion-item>NOL</ion-item>     
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
</ion-content>
