<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Belajar Menulis
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-segment [(ngModel)]="activePage">
      <ion-segment-button value="learn" (click)='onSwitchPage("learn")'>Belajar</ion-segment-button>
      <ion-segment-button value="exam" (click)='onSwitchPage("exam")'>Latihan</ion-segment-button>
    </ion-segment>

    <div class="wrapper" *ngIf="activePage==='learn'">
      <ion-grid>
        <ion-row *ngFor="let content of listContent">
          <ion-col>
            <div class="math-content">
              <img src="../../assets/math/img/green-board.png" (click)="playSound(content.soundId)" (tap)="playSound(content.soundId)" />
              <div (click)="playSound(content.soundId)" (tap)="playSound(content.soundId)" class="centered">{{ content.value }}</div>
            </div>
            <ion-item>
              <ion-label>{{ content.value }}</ion-label>
            </ion-item>                    
          </ion-col>
        </ion-row>                       
      </ion-grid>
    </div>
    <div class="wrapper" *ngIf="activePage==='exam'">
      <ion-grid>
        <ion-row>
          <ion-col style="text-align: center;">
            <ion-label>
              Pertanyaan {{ page + 1 }} dari {{ listExam.length }}
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="math-content">
              <img src="../../assets/math/img/green-board.png" (click)="playSound(question.soundId)" (tap)="playSound(question.soundId)"/>
              <div (click)="playSound(question.soundId)" (tap)="playSound(question.soundId)" class="centered">{{ question.description }}</div>
            </div>
            <ion-item>
              <ion-grid>
                <ion-row>
                  <ion-col>Lengkapi kalimat kosong diatas, dan tulisakan jawabannya : </ion-col>
                </ion-row>
                  <ion-row>
                    <ion-col>
                      <span *ngIf='showErrorMessage' style='color:red'>Jawaban tidak boleh kosong</span>
                      <ion-input type="text" [(ngModel)]="answer"  style='background-color: white;'></ion-input>
                      <ion-button (click)='onWritingAnswer()'>Kirim</ion-button>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                   </ion-row>
              </ion-grid>
            </ion-item>                    
          </ion-col>
        </ion-row>                       
      </ion-grid>
    </div>
</ion-content>