
.flex-content {
    margin: 0px auto;
    width: 100%;
    height: 100%;
    display: flex; /* Magic begins */
    flex-direction: column;
    justify-content: center; /* Center in main axis */
    align-items: center; /* Center in cross axis */
    position: absolute;
  }
  #photo-fullscreen {
    max-width: 100%;
    max-height: 100%
  }
ion-toolbar{
  text-align: center;
}
