
<ion-content>
  <div class="flex-content">
    <img src="../../assets/background/background.png" width="100%" height="100%"/>
    
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" (click)='onStart()'>Klik disini untuk memulai</ion-button>
  </ion-toolbar>
</ion-footer>