ion-content{
    --ion-background-color:#00c8ff;
  }
  .wrapper{
    background-color: white; 
    opacity: 0.8; 
    margin:20px;
    padding:20px;
    border-radius: 10px;
  }

  ion-toolbar{
    text-align: center;
  }
  .lbl-score{
    font-size: xx-large;
    color: #8f0101;
  }
  .lbl-score-wrapper{
    text-align: center;
  }