<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nilai
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <div class="wrapper">
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="../../assets/misc/img/trophy.png" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="lbl-score-wrapper">
            <ion-label class="lbl-score">
              Nilai : {{ score }}
            </ion-label>
          </ion-col>

        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button color="success" expand="block" (click)='onRetry()'>Main Kembali</ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="warning" expand="block" (click)='onExit()'>Keluar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
</ion-content>