<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="mainmenu">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
