<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)='onLogout()' size="small" slot="start">      
        <ion-icon name="chevron-back-outline"></ion-icon>
        Keluar
      </ion-button>  
    </ion-buttons>

    <ion-title center>
      Ahmad Agistiar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
  <div class="wrapper">
    <ion-grid>
      <ion-row class="content">
        <ion-col>
          <img (click)="onGoTo('number')" (tap)="onGoTo('number')" src="../../assets/main-icon/number-icon.png" />
          <ion-item >Nomor</ion-item>        
        </ion-col>
        <ion-col>
          <img (click)="onGoTo('alphabet')" (tap)="onGoTo('alphabet')" src="../../assets/main-icon/alphabet-icon.png" />
          <ion-item >Alfabet</ion-item>        
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img (click)="onGoTo('fruit')" (tap)="onGoTo('fruit')" src="../../assets/main-icon/fruit-icon.png" />
          <ion-item >Buah-buahan</ion-item> 
        </ion-col>
        <ion-col>
          <img (click)="onGoTo('vegetable')" (tap)="onGoTo('vegetable')" src="../../assets/main-icon/vegetable-icon.png" />
          <ion-item >Sayuran</ion-item> 
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img (click)="onGoTo('reading')" (tap)="onGoTo('reading')" src="../../assets/main-icon/reading-icon.png" />
          <ion-item >Membaca</ion-item> 
        </ion-col>
        <ion-col>
          <img (click)="onGoTo('math')" (tap)="onGoTo('math')" src="../../assets/main-icon/math-icon.png" />
          <ion-item>Matematika</ion-item> 
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img (click)="onGoTo('writing')" (tap)="onGoTo('writing')" src="../../assets/main-icon/writing-icon.png" />
          <ion-item >Menulis</ion-item> 
        </ion-col>
        <ion-col>

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>  
</ion-content>