<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mengenal Alfhabet
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="wrapper">
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="../../assets/alphabet/img/a.png" (click)="playSound('a')" (tap)="playSound('a')"/>
            <ion-item>
              <ion-label>A</ion-label>
            </ion-item>                    
          </ion-col>
          <ion-col>
            <img src="../../assets/alphabet/img/b.png" (click)="playSound('b')" (tap)="playSound('b')"/>
            <ion-item>
              <ion-label>B</ion-label>
            </ion-item>          
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="../../assets/alphabet/img/c.png" (click)="playSound('c')" (tap)="playSound('c')"/>
            <ion-item>
              <ion-label>C</ion-label>
            </ion-item>      
          </ion-col>
          <ion-col>
            <img src="../../assets/alphabet/img/d.png" (click)="playSound('d')" (tap)="playSound('d')"/>
            <ion-item>
              <ion-label>D</ion-label>
            </ion-item>         
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="../../assets/alphabet/img/e.png" (click)="playSound('e')" (tap)="playSound('e')"/>
            <ion-item>
              <ion-label>E</ion-label>
            </ion-item>    
          </ion-col>
          <ion-col>
            <img src="../../assets/alphabet/img/f.png" (click)="playSound('f')" (tap)="playSound('f')"/>
            <ion-item>
              <ion-label>F</ion-label>
            </ion-item>    
          </ion-col>
        </ion-row>  
        <ion-row>
          <ion-col>
            <img src="../../assets/alphabet/img/g.png" (click)="playSound('g')" (tap)="playSound('g')"/>
            <ion-item>
              <ion-label>G</ion-label>
            </ion-item>    
          </ion-col>
          <ion-col>
            <img src="../../assets/alphabet/img/h.png" (click)="playSound('h')" (tap)="playSound('h')"/>
            <ion-item>
              <ion-label>H</ion-label>
            </ion-item>    
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="../../assets/alphabet/img/i.png" (click)="playSound('i')" (tap)="playSound('i')"/>
            <ion-item>
              <ion-label>I</ion-label>
            </ion-item>    
          </ion-col>
          <ion-col>
            <img src="../../assets/alphabet/img/j.png" (click)="playSound('j')" (tap)="playSound('j')"/>
            <ion-item>
              <ion-label>J</ion-label>
            </ion-item>    
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="../../assets/alphabet/img/k.png" (click)="playSound('k')" (tap)="playSound('k')"/>
            <ion-item>
              <ion-label>K</ion-label>
            </ion-item>    
          </ion-col>
          <ion-col>
            <img src="../../assets/alphabet/img/l.png" (click)="playSound('l')" (tap)="playSound('l')"/>
            <ion-item>
              <ion-label>L</ion-label>
            </ion-item>    
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="../../assets/alphabet/img/m.png" (click)="playSound('m')" (tap)="playSound('m')"/>
            <ion-item>
              <ion-label>M</ion-label>
            </ion-item>    
          </ion-col>
          <ion-col>
            <img src="../../assets/alphabet/img/n.png" (click)="playSound('n')" (tap)="playSound('n')"/>
            <ion-item>
              <ion-label>N</ion-label>
            </ion-item>    
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="../../assets/alphabet/img/o.png" (click)="playSound('o')" (tap)="playSound('o')"/>
            <ion-item>
              <ion-label>O</ion-label>
            </ion-item>    
          </ion-col>
          <ion-col>
            <img src="../../assets/alphabet/img/p.png" (click)="playSound('p')" (tap)="playSound('p')"/>
            <ion-item>
              <ion-label>P</ion-label>
            </ion-item>    
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="../../assets/alphabet/img/q.png" (click)="playSound('q')" (tap)="playSound('q')"/>
            <ion-item>
              <ion-label>Q</ion-label>
            </ion-item>    
          </ion-col>
          <ion-col>
            <img src="../../assets/alphabet/img/r.png" (click)="playSound('r')" (tap)="playSound('r')"/>
            <ion-item>
              <ion-label>R</ion-label>
            </ion-item>    
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="../../assets/alphabet/img/s.png" (click)="playSound('s')" (tap)="playSound('s')"/>
            <ion-item>
              <ion-label>S</ion-label>
            </ion-item>    
          </ion-col>
          <ion-col>
            <img src="../../assets/alphabet/img/t.png" (click)="playSound('t')" (tap)="playSound('t')"/>
            <ion-item>
              <ion-label>T</ion-label>
            </ion-item>    
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="../../assets/alphabet/img/u.png" (click)="playSound('u')" (tap)="playSound('u')"/>
            <ion-item>
              <ion-label>U</ion-label>
            </ion-item>    
          </ion-col>
          <ion-col>
            <img src="../../assets/alphabet/img/v.png" (click)="playSound('v')" (tap)="playSound('v')"/>
            <ion-item>
              <ion-label>V</ion-label>
            </ion-item>    
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="../../assets/alphabet/img/w.png" (click)="playSound('w')" (tap)="playSound('w')"/>
            <ion-item>
              <ion-label>W</ion-label>
            </ion-item>    
          </ion-col>
          <ion-col>
            <img src="../../assets/alphabet/img/x.png" (click)="playSound('x')" (tap)="playSound('x')"/>
            <ion-item>
              <ion-label>X</ion-label>
            </ion-item>    
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="../../assets/alphabet/img/y.png" (click)="playSound('y')" (tap)="playSound('y')"/>
            <ion-item>
              <ion-label>Y</ion-label>
            </ion-item>    
          </ion-col>
          <ion-col>
            <img src="../../assets/alphabet/img/z.png" (click)="playSound('z')" (tap)="playSound('z')"/>
            <ion-item>
              <ion-label>Z</ion-label>
            </ion-item>    
          </ion-col>
        </ion-row>      
      </ion-grid>
    </div>
</ion-content>
